@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bruno Ace SC', cursive;
    /* font-family: 'Poppins', sans-serif; */
    /* outline: red dashed 2px; */
}
